/* .app {
    height: 100vh;
    width: 100%;
     background-image: url('../../../Images/old-retro-camera-on-wooden-719790.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
} */

#openContestsContainer {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 15px;
    margin: auto;
    width: 80%;
}

p{
    color: black;
}

.contestCard {
    margin-top: 30px;
    padding: 0px;
}