#contest-ios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;


  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */


  /* Then we define how is distributed the remaining space */
  }

  .contest-card{
    margin: 10px;
  }
.contest-view-class{
        background:	rgba(100, 140, 166, 0.808) !important;
        /* opacity: 0.6; */
}
#view-subs{
    background: #6c548a !important;
}