.app{
    height: 100vh;
}

img .d-block w-100 {
    max-width: 100%;
    max-height: 100%;
}

.carouselItem {
    height: 700px;
}

#titleTextFirstPic {
    color: white;
    margin-bottom: 0px;
    font-size: 100px;
}

#subTitleTextFirstPic {
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    display: block
}

.caruselJoinButtonFirstPic {
    font-size: 65px;
    width: 25%;
    height: 70px;
    margin-bottom: 220px;
    opacity: 0.8;
}

#titleTextThirdPic {
    font-size: 70px;
    color:black;
    margin-right: 550px;
    display: block;
}

#subTitleTextThirdPic {
    color:black;
    font-size: 20px;
    margin-right: 550px;
    margin-bottom: 20px;
    margin-top: 0px;
    display: block
    
}

.caruselJoinButtonThirdPic {
    font-size: 65px;
    width: 25%;
    height: 70px;
    margin-bottom: 200px;
    margin-top: 30px;
    margin-right: 550px;
    opacity: 0.8;
}

#titleTextSecPic {
    font-size: 50px;
    color:black;
    display: block;
}

#subTitleTextSecPic {
    color:black;
    font-size: 20px;
    margin-top: 0px;
    display: block
}

.caruselJoinButtonSecPic {
    font-size: 65px;
    width: 25%;
    height: 70px;
    margin-bottom: 40px;
    margin-top: 400px;
    opacity: 0.8;
}